.menuBarFunction {
    position: fixed;
    width: 100%;
    z-index: 999;
}
.menuBarFunction .menuDisplay {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
    position: fixed;
    display: none;
}
.menuBarFunction .menuBarPage {
    width: 70%;
    height: 100vh;
    position: fixed;
    z-index: 999;
    display: block;
    overflow: hidden;
    transform: translateX(-700px);
    transition: 0.2s;
    background: white;
    box-shadow: 0 0.3vh 0.2vh 0.3vh rgba(0, 0, 0, 0.3);
}
.menuBarFunction .menuBarPage .menuAkunPage {
    width: 100%;
    height: 30vh;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background: rgba(228, 228, 228, 0.5);
    border-bottom: 0.1vh solid rgba(0, 0, 0, 0.5);
    display: grid;
}
.menuBarFunction .menuBarPage .menuAkunPage #iconAkun {
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    transform: translateY(2);
    box-shadow: 0 0.2vh 0.2vh 0.2vh rgba(0, 0, 0, 0.3);
    background-image: url('res/raw/user.png');
    background-position: center;
    background-size: cover;
}
.menuBarFunction .menuBarPage .menuAkunPage #namaAkun {
    width: 20vh;
    height: 3.5vh;
    transform: translateY(5.5vh);
    font-size: 2.3vh;
    text-align: center;
    overflow: hidden;
    align-content: center;
    text-overflow: ellipsis;
    position: absolute;
}
.menuBarFunction .menuBarPage .menuAkunPage #uidAkun {
    width: 20vh;
    height: 3vh;
    font-size: 2vh;
    text-overflow: ellipsis;
    overflow: hidden;
    transform: translateY(7.7vh);
    text-align: center;
    position: absolute;
    color: rgba(0, 0, 0, 0.7);
    align-content: center;
}
.menuBarFunction .menuBarPage .menuAkunPage button {
    width: 20vh;
    height: 4vh;
    transform: translateY(2vh);
    border-radius: 2vh;
    border: none;
    font-size: 2.3vh;
    box-shadow: none;
    list-style: none;
    background: rgba(0, 0, 0, 0.2);
}
.menuBarFunction .menuBarPage .menuPage {
    width: 100%;
    overflow-y: auto;
    height: 70vh;
    background: white;
    justify-content: center;
    justify-items: center;
}
.menuBarFunction .menuBarPage .menuPage li {
    width: 95%;
    height: 8vh;
    margin-top: 0.5vh;
    list-style: none;
    align-content: center;
    text-decoration: none;
}
.menuBarFunction .menuBarPage .menuPage li:hover {
    box-shadow: 0 0 0.1vh 0.1vh rgba(0, 0, 0, 0.3);
}
.menuBarFunction .menuBarPage .menuPage li a {
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 1vh;
    color: black;
    -webkit-tap-highlight-color: transparent;
}
.menuBarFunction .menuBarPage .menuPage li .menuBarIcon {
    width: 4.5vh;
    height: 4.5vh;;
    margin-left: 1.3vh;
}
.menuBarFunction .menuBarPage .menuPage li span {
    font-size: 2.5vh;
    align-self: center;
    color: black;
}
.menuBarFunction .menuBarPage .menuPage li:active span{
    color: red;
}
.menuBarFunction .menuBarPage .menuPage li:nth-child(1) .menuBarIcon {
    background-image: url('res/raw/home.png');
    background-size: cover;
    background-position: center;
}
.menuBarFunction .menuBarPage .menuPage li:nth-child(2) .menuBarIcon {
    background-image: url('res/raw/all.png');
    background-size: cover;
    background-position: center;
} 
.menuBarFunction .menuBarPage .menuPage li:nth-child(3) .menuBarIcon {
    background-image: url('res/raw/populer.png');
    background-size: cover;
    background-position: center;
}
.menuBarFunction .menuBarPage .menuPage li:nth-child(4) .menuBarIcon {
    background-image: url('res/raw/ongoing.png');
    background-size: cover;
    background-position: center;
}
.menuBarFunction .menuBarPage .menuPage li:nth-child(5) .menuBarIcon {
    background-image: url('res/raw/cheklis.png');
    background-size: cover;
    background-position: center;
}
.menuBarFunction .menuBarPage .menuPage li:nth-child(6) .menuBarIcon {
    background-image: url('res/raw/history.png');
    background-size: cover;
    background-position: center;
}
.menuBarFunction .menuBarPage .menuPage li:nth-child(7) .menuBarIcon {
    background-image: url('res/raw/update.png');
    background-size: cover;
    background-position: center;
}
.menuBarFunction .menuBarPage .menuPage li:nth-child(8) .menuBarIcon {
    background-image: url('res/raw/bintang.png');
    background-size: cover;
    background-position: center;
}
.menuBarFunction .menuBarPage .menuPage li:nth-child(9) .menuBarIcon {
    background-image: url('res/raw/genre.png');
    background-size: cover;
    background-position: center;
}
.menuBarFunction .menuBarPage .menuPage li:nth-child(10) .menuBarIcon {
    background-image: url('res/raw/kalender.png');
    background-size: cover;
    background-position: center;
}
.menuBarFunction .menuBarPage .menuPage .menuAboutPage {
    width: 100%;
    position: relative;
    display: block;
} 
.menuBarFunction .menuBarPage .menuPage .menuAboutPage h4 {
    position: relative;
    width: 100%;
    height: 7vh;
    align-content: center;
    border-bottom:  0.1vh solid rgba(0, 0, 0, 0.3);
    margin-top: 1vh;
    background: rgba(228, 228, 228, 0.5);
}
.menuBarFunction .menuBarPage .menuPage .menuAboutPage h4 span {
    margin-left: 3vh;
    font-size: 3vh;
}
.menuBarFunction .menuBarPage .menuPage .menuAboutPage a {
    color: black;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    list-style: none;
}
.menuBarFunction .menuBarPage .menuPage .menuAboutPage a li {
    width: 100%;
    height: 6vh;
    align-items: center;
    display: flex;
    position: relative;
}
.menuBarFunction .menuBarPage .menuPage .menuAboutPage a li .menuImgAboutPage {
    width: 4vh;
    height: 4vh;
    margin-left: 2vh;
    position: relative;
}
.menuBarFunction .menuBarPage .menuPage .menuAboutPage a li #p1 {
    background-image: url('res/raw/kado.png');
    background-size: cover;
    background-position: center;
}
.menuBarFunction .menuBarPage .menuPage .menuAboutPage a li #p2 {
    background-image: url('res/raw/donation.png');
    background-size: cover;
    background-position: center;
}
.menuBarFunction .menuBarPage .menuPage .menuAboutPage a li #p3 {
    background-image: url('res/raw/comunity.png');
    background-size: cover;
    background-position: center;
}
.menuBarFunction .menuBarPage .menuPage .menuAboutPage a li #p4 {
    background-image: url('res/raw/info.png');
    background-size: cover;
    background-position: center;
}
.menuBarFunction .menuBarPage .menuPage .menuAboutPage a li #p5 {
    background-image: url('res/raw/whatsapp.png');
    background-size: cover;
    background-position: center;
}
.menuBarFunction .menuBarPage .menuPage .menuAboutPage a li #p6 {
    background-image: url('res/raw/premium.png');
    background-size: cover;
    background-position: center;
}
.menuBarFunction .menuBarPage .menuPage .menuAboutPage a li #p7 {
    background-image: url('res/raw/loveDark.png');
    background-size: cover;
    background-position: center;
}
.menuBarFunction .menuBarPage .menuPage .menuAboutPage a li span {
    font-size: 2.5vh;
    margin-left: 1vh;
}
.endAboutPage {
    width: 100%;
    height: 20vh;
    position: relative;
}